# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
env/
virtualenv/
venv/

# Editor backup files
*~

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store

# Environment variables
.env